@import url('https://fonts.googleapis.com/css?family=Questrial');

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-azul
{
	background: #5745FF;
}

body
{
	background: #FFD1D6 ;
	font-family: 'Questrial', sans-serif;
	color: #5745FF;


}
h1
{
color: #FF0F0F;
text-shadow: 2px 3px 0px #FF9696;


}
h5
{
text-decoration: underline;

}

h3
{
	color: #FFD9D9;
background-color:#FF9696;
text-center;
}

h4
{
	font-family: 'Questrial', sans-serif;

}
